In [2]:
import pandas as pd

# Producs data

In [17]:
data_path = "data/product_data.csv"

df = pd.read_csv(data_path)
df

,cod_modelo_color,cod_color,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename,des_color
0,83_1124642,82,Female,Kids,KIDS,TRICOT,Tops,Sweaters and Cardigans,Sweater,Sweater,83_1124642_17074019-82_B.jpg,ROSA LIGHT
1,86_1215223,01,Female,Kids,KIDS,WOVEN,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,86_1215223_47014392-01_B.jpg,BLANCO
2,84_1167695,70,Female,Kids,KIDS,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,84_1167695_27005150-70_B.jpg,ROJO
3,82_1108473,01,Female,Teen,KIDS,JEANS,Bottoms,Jeans,Jeans,Jeans,82_1108473_87076320-01_B.jpg,BLANCO
4,83_1137778,37,Male,Adult,MAN,CIRCULAR,Tops,Sweaters and Cardigans,Sweatshirts,Sweatshirt,83_1137778_17014765-37_.jpg,KHAKI
...,...,...,...,...,...,...,...,...,...,...,...,...
61479,84_1171997,12,Female,Adult,WOMAN,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,84_1171997_27004019-12_B.jpg,AMARILLO
61480,84_1179998,50,Female,Kids,KIDS,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,84_1179998_27028257-50_B.jpg,CELESTE
61481,83_1131136,52,Female,Baby,KIDS,ACCESSORIES,"Accesories, Swim and Intimate",Accessories,"Hats, scarves and gloves",Headband,83_1131136_17062885-52_B.jpg,AZUL
61482,82_1103532,56,Female,Adult,WOMAN,WOVEN,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Jumpsuit,Jumpsuit,82_1103532_87075684-56_B.jpg,NAVY
61483,83_1144802,99,Female,Adult,WOMAN,WOVEN,Outerwear,Coats and Parkas,Coats,Coat,83_1144802_17097729-99_B.jpg,NEGRO

In [15]:
df["des_product_category"].value_counts()

des_product_category
Tops                                   28825
Bottoms                                14678
Dresses, jumpsuits and Complete set     8525
Outerwear                               6895
Accesories, Swim and Intimate           2561
Name: count, dtype: int64

In [16]:
df[df["cod_modelo_color"]=="83_1124642"]

,cod_modelo_color,cod_color,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,des_filename,des_color
0,83_1124642,82,Female,Kids,KIDS,TRICOT,Tops,Sweaters and Cardigans,Sweater,Sweater,83_1124642_17074019-82_B.jpg,ROSA LIGHT
1164,83_1124642,82,Female,Kids,KIDS,TRICOT,Tops,Sweaters and Cardigans,Sweater,Sweater,83_1124642_17074019-82_.jpg,ROSA LIGHT

# Attribute

In [30]:
data_path = "data/attribute_data.csv"

df = pd.read_csv(data_path)
df
unique_attributes = df["attribute_name"].unique()
aa = df[df["cod_modelo_color"]=="85_1202950"]
aa

      cod_modelo_color      attribute_name  cod_value     des_value
0           85_1202950     silhouette_type         37          Slim
1094        85_1202950      knit_structure          3   Punto medio
24662       85_1202950  sleeve_length_type          5  Tirante Fino
71717       85_1202950     neck_lapel_type         31       Redondo
74125       85_1202950         length_type          4          Crop

In [43]:
df1 = pd.DataFrame([[11,22,33]],columns=["1","2","3"])
df1

    1   2   3
0  11  22  33

In [45]:
df2 = pd.DataFrame([[9999]],columns=["1"])
df2

      1
0  9999

In [53]:
df1.update(df2)
df1

      1   2   3
0  9999  22  33

In [26]:
aa.set_index("attribute_name").T

attribute_name,silhouette_type,knit_structure,sleeve_length_type,neck_lapel_type,length_type
cod_modelo_color,85_1202950,85_1202950,85_1202950,85_1202950,85_1202950
cod_value,37,3,5,31,4
des_value,Slim,Punto medio,Tirante Fino,Redondo,Crop

In [28]:
df["attribute_name"].unique()

array(['silhouette_type', 'neck_lapel_type', 'woven_structure',
       'knit_structure', 'heel_shape_type', 'length_type',
       'sleeve_length_type', 'toecap_type', 'waist_type',
       'closure_placement', 'cane_height_type'], dtype=object)

# Test

In [5]:
data_path = "data/test_data.csv"

df = pd.read_csv(data_path)
df

,cod_modelo_color,des_filename,cod_color,des_color,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,attribute_name,test_id
0,88_49711373,88_49711373_67080432-99_.jpg,99,NEGRO,Female,Adult,WOMAN,ACCESSORIES,"Accesories, Swim and Intimate",Accessories,Footwear,Boots,cane_height_type,88_49711373_cane_height_type
1,88_49718802,88_49718802_67030656-99_.jpg,99,NEGRO,Male,Adult,MAN,ACCESSORIES,"Accesories, Swim and Intimate",Accessories,Footwear,Ankle Boots,cane_height_type,88_49718802_cane_height_type
2,88_49709572,88_49709572_67030418-01_B.jpg,01,BLANCO,Female,Kids,KIDS,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,cane_height_type,88_49709572_cane_height_type
3,88_49722701,88_49722701_67066002-02_.jpg,02,OFFWHITE,Female,Baby,KIDS,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,cane_height_type,88_49722701_cane_height_type
4,88_49724926,88_49724926_67056330-02_B.jpg,02,OFFWHITE,Male,Newborn,KIDS,WOVEN,Tops,Shirts,Shirt,Shirt,cane_height_type,88_49724926_cane_height_type
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71814,88_49727540,88_49727540_67069223-56_.jpg,56,NAVY,Male,Adult,MAN,WOVEN,Tops,Shirts,Shirt,Shirt,knit_structure,88_49727540_knit_structure
71815,88_49733648,88_49733648_67017145-56_.jpg,56,NAVY,Female,Adult,WOMAN,CIRCULAR,Tops,T-shirts,Poloshirts,Poloshirt,knit_structure,88_49733648_knit_structure
71816,88_49735572,88_49735572_67076755-81_.jpg,81,ROSA PASTEL,Female,Adult,WOMAN,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,knit_structure,88_49735572_knit_structure
71817,88_49713624,88_49713624_67092528-70_.jpg,70,ROJO,Female,Adult,WOMAN,WOVEN,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,knit_structure,88_49713624_knit_structure
71818,88_49726160,88_49726160_67076040-99_.jpg,99,NEGRO,Female,Adult,WOMAN,CIRCULAR,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,knit_structure,88_49726160_knit_structure

In [6]:
df["cod_modelo_color"].value_counts()

cod_modelo_color
88_49726160    11
88_49711846    11
88_49719676    11
88_49737950    11
88_49733477    11
               ..
88_49716781    11
88_49724926    11
88_49722701    11
88_49709572    11
88_49718802    11
Name: count, Length: 6529, dtype: int64

# Processat

In [4]:
data_path = "data/unique_products_with_attributes.csv"

df = pd.read_csv(data_path)
df

,cod_modelo_color,cod_color,des_sex,des_age,des_line,des_fabric,des_product_category,des_product_aggregated_family,des_product_family,des_product_type,...,neck_lapel_type,woven_structure,knit_structure,heel_shape_type,length_type,sleeve_length_type,toecap_type,waist_type,closure_placement,cane_height_type
0,83_1124642,82,Female,Kids,KIDS,TRICOT,Tops,Sweaters and Cardigans,Sweater,Sweater,...,Redondo,INVALID,Punto Fino,INVALID,Standard,Larga,INVALID,INVALID,Cuello,INVALID
1,86_1215223,01,Female,Kids,KIDS,WOVEN,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,...,Caja,Ligero,INVALID,INVALID,Largo,Corta,INVALID,INVALID,Cierre Trasero,INVALID
2,84_1167695,70,Female,Kids,KIDS,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,...,Redondo,Ligero,INVALID,INVALID,Standard,Corta,INVALID,INVALID,INVALID,INVALID
3,82_1108473,01,Female,Teen,KIDS,JEANS,Bottoms,Jeans,Jeans,Jeans,...,INVALID,Medio,INVALID,INVALID,Largo,INVALID,INVALID,High Waist,INVALID,INVALID
4,83_1137778,37,Male,Adult,MAN,CIRCULAR,Tops,Sweaters and Cardigans,Sweatshirts,Sweatshirt,...,Redondo,Ligero,INVALID,INVALID,Standard,Larga,INVALID,INVALID,Sin cierre,INVALID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33438,83_1126644,99,Female,Baby,KIDS,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,...,Redondo,Ligero,INVALID,INVALID,Standard,Larga,INVALID,INVALID,INVALID,INVALID
33439,84_1160958,40,Female,Baby,KIDS,TRICOT,Bottoms,Trousers & leggings,Trousers,Trousers,...,INVALID,INVALID,Punto Fino,INVALID,Standard,INVALID,INVALID,Ajustable/Goma,INVALID,INVALID
33440,82_1103726,02,Female,Newborn,KIDS,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,...,Panadero,Ligero,INVALID,INVALID,Standard,Larga,INVALID,INVALID,INVALID,INVALID
33441,82_1087881,94,Female,Kids,KIDS,TRICOT,"Dresses, jumpsuits and Complete set",Dresses and jumpsuits,Dresses,Dress,...,Redondo,INVALID,Punto Medio,INVALID,Corto,Larga,INVALID,INVALID,Sin cierre,INVALID
33442,85_1185549,02,Female,Adult,WOMAN,CIRCULAR,Tops,T-shirts,T-shirt,T-Shirt,...,Redondo,Medio,INVALID,INVALID,Standard,Corta,INVALID,INVALID,INVALID,INVALID

```
array(['silhouette_type', 'neck_lapel_type', 'woven_structure',
       'knit_structure', 'heel_shape_type', 'length_type',
       'sleeve_length_type', 'toecap_type', 'waist_type',
       'closure_placement', 'cane_height_type'], dtype=object)
```

In [8]:
df["heel_shape_type"].value_counts()

heel_shape_type
INVALID                             32288
Plano                                 713
De aguja                              110
Bloque                                104
Plataforma                             51
Embudo                                 47
Rectangular                            42
Kitten                                 23
Cuña                                   19
Plataforma plana                       19
Trompeta                               18
Plataforma en la parte delantera        9
Name: count, dtype: int64